header {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

ol {
  list-style-type: none;
}

.container p {
  margin-bottom: 8px;
}

.container p, li {
  font-size: 24px;
}

.offline-div {
  display: none;
  font-size: 24px;
  font-weight: bold;
}

.offline-div > p {
  font-weight: bold;
}

.offline-div.activated {
  display: block;
}

.item-opacity {
  opacity: 1;
}

.item-opacity.activated {
  opacity: .4;
}