header {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.side-menu {
  position: fixed;
  top: 0;
  right: -24px;
  width: 0;
  height: 100vh;
  padding: 8px 12px;
  transition: all 0.3s;
  background-color: var(--color-neutral-lightest);
}

.side-menu.activated {
  width: calc(30vw + 24px);
}
